/*例として年のプルダウンに関するCSSを提示。月も同様に設定する*/
.dm_y .dropdown-menu{
    /*表示するスクロールバーの高さを調整。今回は月がスクロールなしで入る高さにした*/
    max-height: 330px;
    /*スクロールバーを表示する*/
    overflow: scroll;
    /*デフォルトで水平方向のスクロールバーが入ってくるので非表示にする*/
    overflow-x: hidden;
    margin-top:0px;
}
